h1 {
  color:indigo;
  text-align: center;
}

h2 {
  color:lightsalmon;
  text-align: center;
}

h3 {
  color:lightpink;
}

body {
  background-color: lightgoldenrodyellow;
}

p {
  color:indianred;
  font-size: larger;
}