h1 {
  color:aquamarine;
  text-align: center;
}

h2 {
  color:gold;
  text-align: center;
}

h3 {
  color:teal;
}

body {
  background-color: peachpuff;
}

p {
  color:orangered;
  font-size: larger;
}